# 🔐 Secrets
.env
.env.*
*.env

# 🐍 Python cache
__pycache__/
*.py[cod]
*$py.class

# 📦 Virtual environments
venv/
.env/
.venv/
env/
ENV/

# 🧪 Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# 🧠 IDE
.vscode/
.idea/
*.iml

# 🗂 Logs
*.log

# 🗃 OS files
.DS_Store
Thumbs.db

# 🐳 Docker
*.pid
